.todo-profile-name {
    padding: 15px;
}

.todo-add-task {
    margin-top:90px;
    max-width:400px;
    background-color: rgb(223, 222, 211);
}

.todo-available-tasks {
    margin-bottom:30px;
    max-width:400px;
}

.todo-available-tasks-text {
    margin-left:30%;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:20px;
    max-width:170px;
    font-size:20px;
}

.todo-edit-task-input {
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    max-width:300px;
}

.todo-update-task {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.todo-task {
    /* background-color: aqua; */
    color:rgb(58, 97, 19);
    max-width:260px;
}

